.file-component-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  .file-component-container__image {
    width: 75px;
    height: 75px;
    padding: 10px;
  }

  .file-component-container__text {
    border-radius: 5px;
    width: 90%;
    height: 1.6vw;
    outline: none;
  }
}


