.done-container {
  width: 100%;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.done-image {
  width: 85%;
  height: auto;
  object-fit: "cover";
}

.done__main-text {
  font-size: 3vw;
  font-weight: 700;
}

.done__sub-text {
  font-size: 1.1vw;
  padding: 5px;
}
